In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
data = pd.read_csv("./steam-200k.csv", header = None, names=["id", "title", "action", "hours", "ignore"])

In [16]:
data.head()

          id                       title    action  hours  ignore
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0       0
1  151603712  The Elder Scrolls V Skyrim      play  273.0       0
2  151603712                   Fallout 4  purchase    1.0       0
3  151603712                   Fallout 4      play   87.0       0
4  151603712                       Spore  purchase    1.0       0

In [17]:
data.describe()

                 id          hours    ignore
count  2.000000e+05  200000.000000  200000.0
mean   1.036559e+08      17.874384       0.0
std    7.208074e+07     138.056952       0.0
min    5.250000e+03       0.100000       0.0
25%    4.738420e+07       1.000000       0.0
50%    8.691201e+07       1.000000       0.0
75%    1.542309e+08       1.300000       0.0
max    3.099031e+08   11754.000000       0.0

In [18]:
data.id.nunique()

12393